:root {
  /* fonts */
  --main-font: Roboto, sans-serif;
  /* text colors */
  --primery-text-color: #212121;
  --secondary-text-color: #757575;
  --decoration-color: #2196f3;
  --decoration2-color: #ffffff;
  --decoration3-color: rgba(255, 255, 255, 0.6);
  /* bg colors  */
  --header-color: #ffffff;
  --footer-color: #2f303a;
  --btn-bckg-color: #f5f4fa;
  --btn-bckg-color2: #2196f3;
}
body {
  font-family: var(--main-font);
  font-size: 14px;
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}
/* reset */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}
img {
  display: block;
}
.link {
  text-decoration: none;
  color: currentColor;
}
.list {
  list-style: none;
  margin: o;
  padding: 0;
}
/* Header style */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  margin-right: auto;
  align-items: center;
}
.header-list {
  display: flex;
  gap: 50px;
}

.header-logo {
  margin-right: 93px;
}
.header {
  background-color: var(--decoration2-color);
  border-bottom: 1px solid #ececec;
}
.header-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--decoration-color);
}
.change {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--primery-text-color);
}
.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
}
.header-link-blue {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--decoration-color);
}
.header-link-contacts {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}
.contacts-icon {
  fill: #757575;
}

/*Main-webstudio*/
/*Hero*/

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Img-hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--decoration2-color);
}
.hero-btn {
  width: 216px;
  height: 50px;
  background-color: var(--btn-bckg-color2);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  padding: 10px 32;
  border-radius: 4px;
  border: none;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--decoration2-color);
  cursor: pointer;
  margin-top: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-title {
  width: 696px;
  height: 120px;
}
/*Specialties*/
.specialties {
  background-color: var(--header-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.specialties-container {
  display: flex;
}
.specialties-list {
  display: flex;
  gap: 30px;
}
.specialties-item {
  width: 270px;
}
.specialties-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
}
.specialties-item-title {
  font-weight: 700;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  margin-bottom: 10px;
}
.specialties-item-text {
  font-weight: 400;
  line-height: calc(24 / 14);
  color: var(--secondary-text-color);
}
.specialties-icons {
  fill: #212121;
}
/*Our work*/
.work {
  background-color: var(--header-color);
  padding-bottom: 94px;
}
.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  color: var(--primery-text-color);
  margin-bottom: 50px;
}
.work-list {
  display: flex;
  gap: 30px;
}
.work-item {
  mix-blend-mode: normal;
}
/*Our team*/
.team {
  background-color: var(--btn-bckg-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-container {
  display: flex;
  flex-direction: column;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  color: var(--primery-text-color);
  margin-bottom: 50px;
}
.team-item {
  background-color: var(--header-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list {
  display: flex;
  gap: 30px;
}
.team-title-n {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  margin-bottom: 10px;
}
.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}
.socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.socials-link:hover .socials-icon,
.socials-link:focus .socials-icon {
  fill: #ffffff;
}
.socials-link:hover,
.socials-link:focus {
  background-color: #2196f3;
}

.socials-icon {
  fill: #afb1b8;
}

.team-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}
/*Clients*/
.clients {
  background-color: var(--header-color);
}
.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  color: var(--primery-text-color);
  margin-bottom: 50px;
}
.clients-list {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
}
.clients-link:hover .clients-icons,
.clients-link:focus .clients-icons {
  fill: #2196f3;
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid #2196f3;
}

/*Portfolio*/
/*Main-btn*/
.portfolio {
  background-color: var(--decoration2-color);
}
.btn {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  color: var(--primery-text);
  background-color: var(--btn-bckg-color);
  border-radius: 4px;
  cursor: pointer;
  border: none;
}
.btn:hover,
.btn:focus {
  background-color: #2196f3;
  color: var(--decoration2-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-list-btn {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 50px;
}
.portfolio-btn {
  padding: 6px 22px;
}
/*Main-img*/
.portfolio-list-p {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio-item-p {
  background-color: var(--header-color);
}
.portfolio-item-p {
  display: flex;
  flex-direction: column;
  flex-basis: calc((100% - 30px * 2) / 3);
}
.portfolio-item-p:hover,
.portfolio-item-p:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-title-p {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--primery-text-color);
  margin-bottom: 4px;
}
.portfolio-text-p {
  font-size: 16px;
  line-height: calc(30 / 16);
  color: var(--secondary-text-color);
}
.border {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}
/*Footer*/
.footer {
  background-color: var(--footer-color);
}
.footer-container {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container-left {
  display: flex;
  flex-direction: column;
  width: 231px;
  margin-right: 70px;
}
.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: #2196f3;
  margin-bottom: 20px;
}
.change-footer {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--decoration2-color);
}
.footer-link-gl {
  font-family: var(--main-font);
  font-weight: 400;
  font-style: normal;
  line-height: calc(24 / 14);
  color: var(--decoration2-color);
}
.footer-link {
  font-weight: 400;
  font-style: normal;
  line-height: calc(24 / 14);
  color: var(--decoration3-color);
}
.footer-list-item:nth-child(2) {
  margin-top: 9px;
  margin-bottom: 9px;
}
.footer-container-right {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
}
.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--decoration2-color);
  margin-bottom: 20px;
}
.socials-list-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.socials-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.socials-icon-footer {
  fill: #ffffff;
}

.socials-link-footer:hover,
.socials-link-footer:focus {
  background-color: #2196f3;
}

.header-link:hover,
.header-link:focus,
.footer-link:hover,
.footer-link:focus,
.header-link-contacts:hover,
.header-link-contacts:focus,
.footer-link-gl:hover,
.footer-link-gl:focus {
  color: #2196f3;
}
