/*Footer-left*/
.footer {
    background-color: $footer-color;
  }
  .footer-container {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
    align-items: baseline;
  }
  .footer-container-left {
    display: flex;
    flex-direction: column;
    width: 231px;
    margin-right: 70px;
  }
  .footer-logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    color: $decoration-color;
    margin-bottom: 20px;
  }
  .change-footer {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    color: $decoration2-color;
  }
  .footer-link-gl {
    font-family: $main-font;
    font-weight: 400;
    font-style: normal;
    line-height: calc(24 / 14);
    color: $decoration2-color;
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-link {
    font-weight: 400;
    font-style: normal;
    line-height: calc(24 / 14);
    color: $decoration3-color;
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-list-item:nth-child(2) {
    margin-top: 9px;
    margin-bottom: 9px;
  }

  .footer-link:hover,
  .footer-link:focus,
  .footer-link-gl:hover,
  .footer-link-gl:focus {
    color:  $btn-bckg-color2;
  }

  /*Footer-middle*/

  
.footer-container-middle {
  display: flex;
  flex-direction: column;
   margin-right: 93px;
}
.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $decoration2-color;
  margin-bottom: 20px;
}
.socials-list-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.socials-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-icon-footer {
  fill: $footer-socials;
}

.socials-link-footer:hover,
.socials-link-footer:focus {
  background-color:  $footer-socials-bg;
}

/*Footer-feedback*/

.feedback-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: $decoration2-color;
  margin-bottom: 20px;
}


.feedback-form {
  display: flex;
  gap: 12px;
  position: relative;
}

.feedback-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(20 / 16);
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
}

.feedback-btn {
  display: flex;
  gap: 10px;
  width: 200px;
  height: 50px;
  background-color: $btn-bckg-color2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  outline-color: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  color: $decoration2-color;
  fill: $footer-socials;
}

.feedback-btn:hover,
.feedback-btn:focus{
  color: $decoration2-color;
  fill: $header-color;
}
