/*Footer-left*/
.footer {
  background-color: $footer-color;
  }
.logo--footer {
  margin-bottom: 20px
}
.logo--footer-change {
  color: $decoration2-color;
}

.footer-container {
  display: flex;
  @include section-paddings($top: 60px, $bottom: 60px);
  align-items: baseline;
}
.footer-left {
  display: flex;
  flex-direction: column;
  width: 231px;
  margin-right: 70px;
}

.footer-adress__item:nth-child(2) {
  margin-top: 9px;
  margin-bottom: 9px;
}
.footer-adress__link {
  font-weight: 400;
  font-style: normal;
  line-height: calc(24 / 14);
  color: $decoration3-color;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $btn-bckg-color2;
  }
}
.footer-adress__link--change {
  font-family: $main-font;
  font-weight: 400;
  font-style: normal;
  line-height: calc(24 / 14);
  color: $decoration2-color;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*Footer-middle*/

.footer-middle {
  display: flex;
  flex-direction: column;
  margin-right: 93px;
}
.footer__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $decoration2-color;
  margin-bottom: 20px;
}
.socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.socials-list__link--change {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-list__icon--change {
  fill: $footer-socials;
}

.socials-list__link:hover,
.socials-list__link:focus {
  background-color: $footer-socials-bg;
}

/*Footer-feedback*/

.feedback-form {
  display: flex;
  gap: 12px;
  position: relative;
  justify-content: center;
  align-items: center;

  &__input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(20 / 16);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.6);
    padding-left: 16px;
  }
}

.footer-button {
  display: flex;
  gap: 10px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  outline-color: none;
  font-style: normal;
  align-items: center;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  color: $decoration2-color;
  background-color: $btn-bckg-color2;
  fill: $footer-socials;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  &:hover,
  &:focus {
    color: $decoration2-color;
    fill: $header-color;
  }
}
