/* Header style */

.header {
  background-color: $header-color;
  border-bottom: 1px solid $border-header;
}

.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  margin-right: auto;
  align-items: center;
  justify-content: center;

  &__list {
    display: flex;
    gap: 50px;
  }

  &__link {
    display: block;
    position: relative;
    @include section-paddings($top: 32px, $bottom: 32px);

    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: $primery-text-color;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &--change {
      color: $decoration-color;
    }
    &:hover,
    &:focus {
      color: $decoration-color;
    }
  }
}

.logo {
  margin-right: 93px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: $decoration-color;
}
.header-nav__logo--change {
  color: $primery-text-color;
}

.header-nav__link.header-nav__link--change::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: $btn-bckg-color2;
}

.contacts-list {
  display: flex;
  gap: 50px;

  &__link {
    display: flex;
    align-items: center;
    gap: 10px;
    color: $secondary-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: $decoration-color;
    }
  }
  &__icon {
    fill: $secondary-text-color;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.contacts-list__link:hover .contacts-list__icon,
.contacts-list__link:focus .contacts-list__icon {
  fill: $clients-hover-color;
}
