/*Modal Window*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 800ms, visibility 800ms;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 528px;
  min-height: 581px;
  background-color: $header-color;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 550ms ease 250ms, transform 550ms ease 250ms;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -90%);
  opacity: 0;
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: $header-color;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal-btn-icon {
  fill: $modal-btn-icon;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover .modal-btn-icon,
.modal-btn:focus .modal-btn-icon {
  fill: $clients-hover-color;
}

.modal-label {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  margin-bottom: 12px;
}

.modal-form-group {
  margin-bottom: 20px;
}

.modal-form-label {
  display: block;
  font-size: 14px;
  font-weight: 22px;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: $secondary-text-color;
}

.modal-form-wrapper {
  position: relative;
  margin-bottom: 10px;
}

.modal-form-field {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  outline: 1px solid transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background: $header-color;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-field:focus,
.modal-form-field:hover {
  border: 1px solid $btn-bckg-color2;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  fill: $modal-btn-icon;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-field:focus + .modal-form-icon,
.modal-form-field:hover + .modal-form-icon {
  fill: $clients-hover-color;
}

.modal-form-message {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  font-size: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: 1px solid transparent;
  resize: none;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:focus,
.modal-form-message:hover {
  border: 1px solid $btn-bckg-color2;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-form-agreement {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin-bottom: 30px;
}

.modal-form-agreement-desc {
  font-size: 14px;
  line-height: calc(24 / 14);
  color: $secondary-text-color;
  user-select: none;
}

.modal-form-agreement-link {
  color: $decoration-color;
  text-underline-position: under;
}
.modal-form-checkbox {
  appearance: none;
  width: 16px;
  height: 15px;
  border: 2px solid $modal-btn-icon;
  border-radius: 4px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E%0A");

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-checkbox:checked {
  border: $btn-bckg-color2;
  background-color: $btn-bckg-color2;
  background-size: 11px 8px;
}

.modal-form-btn {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  background-color: $btn-bckg-color2;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  padding: 10px 52px;
  border-radius: 4px;
  border: none;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: $decoration2-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-btn:hover,
.modal-form-btn:hover {
  background-color: $modal-bg;
}
