/*Specialties*/
.specialties {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $header-color;

  
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }
  &__item {
    flex-direction: column;
    justify-content: center;

    @media screen and (min-width: 768px) {
      width: 354px;
    }

    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }
  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    background-color: $specialties-box-color;
    margin-bottom: 30px;
    border-radius: 4px;

    @media screen and (min-width: 768px) {
      width: 354px;
      height: 120px;
    }

    @media screen and (min-width: 1200px) {
      width: 270px;
      height: 120px;
    }
  }

  &__icons {
    fill: $primery-text-color;
  }

  &__title {
    font-weight: 700;
    line-height: calc(16 / 14);
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;

    @media screen and (min-width: 768px) {
      text-align: left;;
  }
  &__text {
    font-weight: 400;
    line-height: calc(24 / 14);
    color: $secondary-text-color;
  }
}
}