/*Specialties*/
.specialties {
    background-color: $header-color;
  }
  .specialties-container {
    display: flex;
  }
  .specialties__list {
    display: flex;
    gap: 30px;
  }
  .specialties__item {
    width: 270px;
  }
  .specialties__box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    background-color: $specialties-box-color;
    margin-bottom: 30px;
    border-radius: 4px;
  }

  .specialties__icons {
    fill: $primery-text-color;
  }
  
  .specialties__title {
    font-weight: 700;
    line-height: calc(16 / 14);
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .specialties__text {
    font-weight: 400;
    line-height: calc(24 / 14);
    color: $secondary-text-color;
  }
 