/*Specialties*/
.specialties {
  @include section-paddings($top: 94px, $bottom: 94px);
  background-color: $header-color;

  &__list {
    display: flex;
    gap: 30px;
  }
  &__item {
    width: 270px;
  }
  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    background-color: $specialties-box-color;
    margin-bottom: 30px;
    border-radius: 4px;
  }

  &__icons {
    fill: $primery-text-color;
  }

  &__title {
    font-weight: 700;
    line-height: calc(16 / 14);
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  &__text {
    font-weight: 400;
    line-height: calc(24 / 14);
    color: $secondary-text-color;
  }
}
.specialties-container {
  display: flex;
}
