/*Our team*/
.team {
  @include section-paddings($top: 94px, $bottom: 94px);
  background-color: $btn-bckg-color;

  &__list {
    display: flex;
    gap: 30px;
  }
  &__item {
    background-color: $header-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
}


.team-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;

  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    margin-bottom: 10px;
  }
  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    color: $secondary-text-color;
    margin-bottom: 16px;
  }
}

.socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: $clients-hover-color;
    }
  }
}

.socials-list__icon {
  fill: $clients-color;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-list__link:hover .socials-list__icon,
.socials-list__link:focus .socials-list__icon {
  fill: $decoration2-color;
}
