/* Common */
body {
    font-family: $main-font;
    font-size: 14px;
    font-style: normal;
    letter-spacing: 0.03em;
    color: $primery-text-color;
  }

// .section {
//     padding-top: 94px;
//     padding-bottom: 94px;
// }
  .container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }