/* Common */
body {
    font-family: $main-font;
    font-size: 14px;
    font-style: normal;
    letter-spacing: 0.03em;
    color: $primery-text-color;
  }


  .container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  .title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    color: $primery-text-color;
    margin-bottom: 50px;
  }