    /* fonts */
    $main-font: Roboto, sans-serif;
    /* text colors */
    $primery-text-color: #212121;
    $secondary-text-color: #757575;
    $decoration-color: #2196f3;
    $decoration2-color: #ffffff;
    $decoration3-color: rgba(255, 255, 255, 0.6);
    $decoration4-color: #f5f4fa;
    $decoration5-color: #afb1b8;
    /* bg colors  */
    $header-color: #ffffff;
    $footer-color: #2f303a;
    $btn-bckg-color: #f5f4fa;
    $btn-bckg-color2: #2196f3;
    $border: #eeeeee;
    $modal-bg: #188ce8
  